
gray = #F3F3F3
blue = #0071E5
white = #FFFFFF

body
  width 100%
  margin 0 auto
  background gray
  font-family 'Open Sans', sans-serif
  
  header
    background blue
    color gray
    height 80px
    border-top solid 3px black
    line-height 80px
    padding-left 20px

    #logo
      padding 10px 0 10px
      width 325px
      height 60px